@font-face {
    font-family: 'Source Han Serif';
    src: local('Source Han Serif CN'), local('Source Han Serif SC'), /*如果可能，调用本地字体*/
      url('fonts/SourceHanSerifCN-Regular.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    
@font-face {
      font-family: 'Source Han Serif Bold';
      src: local('Source Han Serif CN'), local('Source Han Serif SC'), /*如果可能，调用本地字体*/
        url('fonts/SourceHanSerifCN-Bold.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
